<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SiRetail</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('cabang')"></nav>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Request Tambah Stok Item Pada Cabang</div>
                <div class="card-body">
                    <form th:action="@{/itemCabang/tambahStok}" method="POST" th:object="${itemNew}">
                        <table class="table">
                            <thead>
                                <th>Item</th>
                                <input type="hidden" th:field="*{cabang}" name="cabang"/>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="uuidItem" form-control>
                                            <option selected disabled value=""> -- Pilih Item -- </option>
                                            <option th:each="item : ${listItem}" th:value="${item.uuid}" th:text="${item.nama}" name="uuidItem"></option>
                                        </select>

                                        <label>Jumlah Stok Item Yang Ingin Ditambah</label>
                                        <input required type="number" name="stok" min="1" class="form-control" />
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <button type="submit" name="save" class="btn btn-warning">Simpan</button>
                        <a class="btn btn-link btn-outline-primary" href="/">Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>