<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:security="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('home')"></nav>

    <div class="d-flex justify-content-center">
        <div class="m-4">
            <div th:unless="${message} == null" class="card border border-dark rounded mb-5">
                <div class="card-header h3">
                    Info
                </div>
                <div class="card-body">
                    <h4 th:text="${message}"></h4>
                </div>
            </div>

            <h2 style="text-align: center" th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
            <h2 style="text-align: center">Selamat datang di SiRetail</h2>
            <div class="d-flex justify-content-center">
                <a th:href="@{/cabang}"class="mx-2 btn btn-warning">Lihat semua cabang</a>
                <!-- <a th:href="@{/cabang/add}"class="mx-2 btn btn-outline-warning">Tambah cabang</a> -->
               <a th:href="@{/cabang/add}"class="mx-2 btn btn-outline-warning" sec:authorize="hasAuthority('Kepala Retail') or hasAuthority('Manager Cabang')">Tambah cabang</a>
            </div>
            <div class=" my-3 d-flex justify-content-center">
                <a th:href="@{/user/viewall}"class="mx-2 btn btn-warning">Lihat semua user</a>
<!--                <span th:if="${role} == 'Kepala Retail'">-->
                <span  sec:authorize="hasAuthority('Kepala Retail')">
                    <a th:href="@{/user/add}" class="mx-2 btn btn-outline-warning">Tambah user</a>
                </span>
            </div>
            <div class=" my-3 d-flex justify-content-center">
<!--            <a th:href="@{/user/changepassword(username=${#httpServletRequest.userPrincipal.name})}" class="mx-2 btn btn-outline-warning">Ganti Password</a>-->
            </div>
        </div>
    </div>
</body>

</html>