<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>SiRetail</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Cabang</h2>
                <br>
                <div class="row">
                    <div class="col-3">
                        ID Cabang
                    </div>
                    <div class="col-9">
                        <p th:text="': ' + ${cabang.idCabang}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Nama Cabang
                    </div>
                    <div class="col-9">
                        <p th:text="': ' + ${cabang.nama}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Alamat Cabang
                    </div>
                    <div class="col-9">
                        <p th:text="': ' + ${cabang.alamat}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Ukuran Cabang (m2)
                    </div>
                    <div class="col-9">
                        <p th:text="': ' + ${cabang.ukuran}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Status
                    </div>
                    <div class="col-9">
                        <p>
                            <span th:if="${cabang.status} == 0" th:text="': Menunggu Persetujuan'"></span>
                            <span th:if="${cabang.status} == 1" th:text="': Ditolak'"></span>
                            <span th:if="${cabang.status} == 2" th:text="': Disetujui'"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        No Telepon Cabang
                    </div>
                    <div class="col-9">
                        <p th:text="': ' + ${cabang.noTelp}"></p>
                    </div>
                </div>
                <div th:if="*{listItemCabang!=null}">
                    <div th:if="*{listItemCabang.size() !=0}">
                        <form th:action="@{/itemCabang/delete}" th:object="${cabang}" method="POST">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID Item</th>
                                    <th>Nama Item</th>
                                    <th>Harga</th>
                                    <th>Stok</th>
                                    <th>Kategori</th>
                                    <th>Harga</th>
                                    <th>Promo</th>
                                    <th>Hapus</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="itemCabang, iterationStatus : ${listItemCabang}"
                                    th:class="${iterationStatus.even} ? 'bg-light'">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${itemCabang.idItemCabang}"></td>
                                    <td th:text="${itemCabang.nama}"></td>
                                    <td th:text="${itemCabang.harga}"></td>
                                    <td th:text="${itemCabang.stok}"></td>
                                    <td th:text="${itemCabang.kategori}"></td>
                                    <td th:if="${itemCabang.idPromo != null}" th:text="${itemCabang.idPromo}"></td>
                                    <td th:unless="${itemCabang.idPromo != null}">
                                        <a class="btn btn-sm btn-primary" th:href="@{/itemCabang/promo/}">Terapkan Promo</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" th:href="@{/itemCabang/delete/} + ${itemCabang.noItemCabang}">Hapus Item</a>
                                    </td>
                                    <td>
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{listItemCabang}" th:value="${itemCabang.noItemCabang}"
                                               id="flexCheckDefault">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <input th:if="${role} == 'MANAGER'" type="submit" value="Delete yang dipilih" class="btn btn-danger">
                        </form>
                    </div>
                    <div th:unless="*{listItemCabang.size() != 0}">
                        <h2 th:text="'Tidak ada itemCabang'"></h2>
                    </div>
                </div>
            </div>
            <br>
            <a class="btn btn-primary" th:href="@{/cabang}">Kembali</a>
            <a th:if="${role} == 'MANAGER'" class="btn btn-primary" th:href="@{/itemCabang/add/} + ${cabang.idCabang}">Tambah ItemCabang</a>
            <a sec:authorize="hasAuthority('Kepala Retail') or hasAuthority('Manager Cabang')" class="btn btn-danger" th:href="@{'/cabang/delete/' + ${cabang.idCabang}}">Delete</a>
        </div>
    </div>
</div>

</body>

</html>